/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Radio+Canada:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');


@layer base {

    html,
    body {
        font-family: 'Rubik', sans-serif;
        @apply antialiased bg-gray-50;
    }
}

@layer base {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@layer base {
    .searchInputs {
        margin-top: 5px;
        display: flex;
    }

    .search input {
        background-color: white;
        border: 0;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        font-size: 18px;
        padding: 15px;
        height: 40px;
        width: 400px;
        opacity: 0.8;
    }

    .searchIcon {
        height: 40px;
        width: 50px;
        background-color: #424245;
        color: white;
        display: grid;
        opacity: 0.8;
        place-items: center;
        border: 0;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    input:focus {
        outline: none;
    }

    .searchIcon svg {
        font-size: 18px;
    }

    .dataResult {
        margin-top: 5px;
        width: 400px;
        height: 230px;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        overflow: hidden;
        overflow-y: auto;
        border-radius: 10px;
        opacity: 0.9;
    }

    .dataResult::-webkit-scrollbar {
        display: none;
    }

    .dataResult .dataItem {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        color: black;
    }

    .dataItem p {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        background-color: lightgrey;
    }

    #clearBtn {
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
        .searchInputs, .dataResult {
          display:none;
        }
      }

    @media screen and (max-width: 600px){
        .sliderMain {
            display:none;
        }
    }

    @media screen and (max-width: 600px){
        .popular {
            height: 100px;
            margin: auto;
            width: 1700px;
            padding: -50px;
            padding-left:-150px;
            margin-left: -50px;
            justify-content: center;
            margin-top: 40px;
            text-align: center;
        }
    }

    @media screen and (max-width: 600px){
        .free {
            height: 100px;
            margin: auto;
            width: 1600px;
            padding: -10px;
            padding-left:-130px;
            margin-left: -20px;
            justify-content: center;
            margin-top: 40px;
            text-align: center;
        }
    }

    @media screen and (max-width: 600px){
        .fragman {
            height: 100px;
            margin: auto;
            width: 1600px;
            padding: -10px;
            padding-left:-130px;
            margin-left: -20px;
            justify-content: center;
            margin-top: 40px;
            text-align: center;
        }
    }

}